{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>DETECTEUR DE FAUSSES NOUVELLES</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"  rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <a href="{% url 'home' %}" class="logo"><i class="ri-home-smile-fill"></i><sapn>DFN</sapn>
    </a>
    <ul class="navbar">
        <li><a href="{% url 'home' %}" class="active">Accueil</a></li>
        <li><a href="{% url 'predict' %}">Prediction</a></li>
        <li><a href="{% url 'hist' %}">Historiques</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">A propos</a></li>
      
    </ul>
    <div class="main">
      <a href="singin.html" class="user"><i class="ri-user-fill"></i>Se connecter</a>
      <a href="register.html">s'inscrire</a>
      <div class="bx bx-menu" id="menu-icon"></div>

    </div>


  </header>
  <script src="{% static 'script.js' %}"></script>
  <footer>
    <p>&copy; 2023 </p>
  </footer>
</body>
</html>